@CHARSET "UTF-8";

$mainFont: 'Droid_Sans', sans-serif;
$mainFontSerif: 'Droid_Ser', serif;
$titleSubFont: 'Lemon', serif;
$borderColor: #C3D9FF;

@font-face {
  font-family: "Droid_Sans";
  src: url('fonts/DroidSans.ttf');
}

@font-face {
  font-family: "Droid_Ser";
  src: url('fonts/DroidSerif.ttf');
}

@font-face {
  font-family: "Lemon";
  src: url('fonts/Lemon-Regular.ttf');
}

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  padding: 15px;
  height: 100%;
}

div.container {
  position: relative;
  min-width: 400px;
  min-height: 345px;
  height: 100%;
}

.gcjvis {
  font-family: $mainFont;


  .headerSection {
    position: relative;
    height: 8ex;
  }

  .problemName {
    font-size: 2em;
    position: absolute;
    left: 40%;
    top: 0;
    bottom: 0;
    right: 0;
    height: 50%;
    margin: auto;
  }

 .title {
   display: inline-block;
   width: 40%;

    h1 {
        margin: 0;
    }
  
    div {
      position: relative;
      left: 2em;
      color: #FFF;
      font-family: $titleSubFont;
      background-color: purple;
      display: inline-block;
      padding: .24em .3em .25em .35em;
      width: 7.2em;
      overflow: hidden;
      white-space: nowrap;
      animation: titleIn 2.25s linear;
      -webkit-animation: titleIn 2.25s linear;
    }
  }

  .contentSection {
    position: absolute;
    top: 8ex;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .textInputs {
    text-align: center;
    font-size: 1.2em;
    margin-left: 2em;
    height: 3ex;
    position: relative;
    top: -.25em;
    input:first-of-type {
      margin-right: 2em;
    }
  }

  .snappersSlider {
    position: absolute;
    top: 3ex;
    bottom: 3ex;
    left: 0;
    height: auto;
    margin-left: 1.5em;

    .sliderLabel {
      font-size: 1.2em;
      width: 1em;
      position: absolute;
      left: -1.25em;
      top: 0;
      bottom: 0;
      height: 17.5ex;
      margin: auto;
    }

    .sliderMin {
      position: absolute;
      bottom: -1ex;
      left: -1.25em;
    }

    .sliderMax {
      position: absolute;
      top: -1ex;
      left: -1.65em;
    }
  }

  .snapperDisplay {
    border: .5em solid $borderColor;
    position: absolute;
    top: 3ex;
    right: 0;
    bottom: 3.9ex;
    left: 2.5em;
    height: auto;
  }

  .snapsSlider {
    margin-bottom: 2ex;
    position: absolute;
    right: 5em;
    bottom: 0;
    left: 3.1em;
    width: auto;

    .sliderLabel {
      position: absolute;
      right: 0;
      bottom: -2.5ex;
      left: 0;
      width: auto;
      font-size: 1.2em;
      text-align: center;
    }

    .sliderMin {
      position: absolute;
      bottom: -3ex;
      left: 0;
    }

    .sliderMax {
      position: absolute;
      bottom: -3ex;
      right: 0;
    }
  }

  .snapButton {
    position: absolute;
    height: 4ex;
    width: 4.5em;
    right: 0;
    bottom: -.5ex;
  }

}

@keyframes titleIn {
  from {
    width: 0;
  }
  
  to {
    width: 7.2em;
  }
}

@-webkit-keyframes titleIn {
  from {
    width: 0;
  }
  
  to {
    width: 7.2em;
  }
}
