@CHARSET "UTF-8";
@import 'mixins';
@import 'slider';
@import 'snapper-display';

$mainFont: 'Droid_Sans', sans-serif;
$mainFontSerif: 'Droid_Ser', serif;
$titleSubFont: 'Lemon', serif;

@font-face {
  font-family: "Droid_Sans";
  src: url('fonts/DroidSans.ttf');
}

@font-face {
  font-family: "Droid_Ser";
  src: url('fonts/DroidSerif.ttf');
}

@font-face {
  font-family: "Lemon";
  src: url('fonts/Lemon-Regular.ttf');
}

* {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  padding: 15px;
  height: 100%;
}

div.container {
  position: relative;
  min-width: 400px;
  min-height: 345px;
  height: 100%;
}

.gcjvis {
  font-family: $mainFont;


  .headerSection {
    position: relative;
    height: 8ex;
  }

  .problemName {
    font-size: 2em;
    position: absolute;
    left: 40%;
    top: 0;
    bottom: 0;
    right: 0;
    height: 50%;
    margin: auto;
  }

 .title {
   display: inline-block;
   width: 40%;

    h1 {
        margin: 0;
    }
  
    div {
      position: relative;
      left: 2em;
      color: #FFF;
      font-family: $titleSubFont;
      background-color: purple;
      display: inline-block;
      padding: .24em .3em .25em .35em;
      width: 7.2em;
      overflow: hidden;
      white-space: nowrap;
      @include animation(titleIn, 2.25s, linear, 0);
    }
  }

  .contentSection {
    position: absolute;
    top: 8ex;
    right: 0;
    bottom: 0;
    left: 0;
  }

  .textInputs {
    text-align: center;
    font-size: 1.2em;
    margin-left: 2em;
    height: 3ex;
    position: relative;
    top: -.25em;
    input:first-of-type {
      margin-right: 2em;
    }
  }

  .snapButton {
    position: absolute;
    height: 5.1ex;
    width: 5.85em;
    right: -1ex;
    bottom: -.85ex;
  }

}

@include keyframe(titleIn) {
  from {
    width: 0;
  }
  
  to {
    width: 7.2em;
  }
}
